.conditinssub {
  width: 23rem;
  height: 19rem;
  position: relative;
}
#condic {
  text-align: center;
}
#condic h1 {
  font-weight: bold;
  margin-bottom: 3rem;
}
#eye {
  background-image: url("./imagies/eye.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#flu {
  background-image: url("./imagies/flu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cough {
  background-image: url("./imagies/cough.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pain {
  background-image: url("./imagies/pain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conditinssub h4 {
  text-align: center;
  font-weight: bolder;
  color: black;
  margin-top: 2rem;
}
.conditinssub div {
  background-color: rgb(38, 197, 163);
  height: 5rem;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.conditinssub div:hover {
  background-color: rgb(19, 139, 83);
  cursor: pointer;
}
