.conditinssub {
  width: 23rem;
  height: 19rem;
  background-color: red;
}
#condic {
  text-align: center;
}
#condic h1 {
  font-weight: bold;
  margin-bottom: 3rem;
}
#eye {
  background-image: url("./imagies/eye.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#flu {
  background-image: url("./imagies/flu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cough {
  background-image: url("./imagies/cough.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pain {
  background-image: url("./imagies/pain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
 
